<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo left"><i class="material-icons">arrow_back</i>Détails</a>
            <ul class="right">
                <li><a href="#" class="send-logo"><i class="material-icons">send</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div>
    <div class="row facture">
        <img class="img-facture" src="https://via.placeholder.com/200" alt="facture">
    </div>

    <div class="row details">
        <ul class="collection">
            <li class="collection-item">
                <div class="row">
                    <div class="col s6 m6">
                        Type
                    </div>
                    <div class="col s6 m6">
                        Lorem Ipsum
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s6 m6">
                        Catégorie
                    </div>
                    <div class="col s6 m6">
                        Lorem Ipsum
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s6 m6">
                        Dossier
                    </div>
                    <div class="col s6 m6">
                        Lorem Ipsum
                    </div>
                </div>
            </li>
            <li class="collection-item">
                <div class="row">
                    <div class="col s6 m6">
                        Devise
                    </div>
                    <div class="col s6 m6">
                        Lorem Ipsum
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript" src="dist/index.js"></script>