<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Receipt Bank</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="link import-file" data-link="displayImportPhoto"><a href="../src/import-photo/import-photo.html">Importer une photo</a></li>
        <li class="link assist"><a href="assist.html">Assistance</a></li>
        <li class="link about"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO">A propos</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li class="link import-file" data-link="displayImportPhoto"><a href="../src/import-photo/import-photo.html">Importer une photo</a></li>
    <li class="link assist"><a href="assist.html">Assistance</a></li>
    <li class="link about"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO">A propos</a></li>
  </ul>