.popup-title{
    text-align: center;
    text-decoration-line: underline;
    font-size: larger;
    font-weight: bold;
}

.share-butons{
    top: 10vh;
    bottom: 10vh;
    left: 0;
    right: 0;
    text-align: center;
}

.color-icon{
    color: black;
}

#fb-buton{
    background: #3b5998;
    color: white;
}

#fb-icon{
    color: white;
}

.btn-large{
    margin-top: 2em;
    width: 14em;
    background: #d7dde8;
    color: black;
}

#close-icon{
    color: black;
    font-size: xx-large;
}

.popuptile{
    background-color: #fafafa !important;
    margin-top: 50%;
    margin-bottom: 50%;
    border-radius: 1rem;
}