.popuptile{
    background-color: #fafafa !important;
    margin-top: 50%;
    margin-bottom: 50%;
    border-radius: 1rem;
}

.close-icon{
    color: black;
    font-size: xx-large;
}

.popup-title{
    text-align: center;
    text-decoration-line: underline;
    font-size: larger;
    font-weight: bold;
}

.share-butons{
    top: 10vh;
    bottom: 10vh;
    left: 0;
    right: 0;
}

#fb-buton{
    background: #3b5998;
    color: white;
}