$primary: #01579b;
$primary-light: #4f83cc;
$primary-dark: #002f6c;
$secondary: #c2185b;
$secondary-light: #fa5788;
$secondary-dark: #8c0032;
$text-color: #fafafa;
$background: #fafafa;

body {
    background-color: $background;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    height: 100vh;
}

nav {
    background-color: $primary !important;
    padding-left: 1.25em;
}

#camera {
    background-color: $secondary;
    position: fixed;
    bottom: 5%;
    right: 5%;
}

#camera:hover {
    background-color: $secondary-dark;
}

.teal {
    text-align: center;
}

.bg-color {
    background-color: #90cc33;
}

label, span {
    font-size: 1.1em; 
    color: black;
}
legend {
    font-weight: bold; 
    font-size: 1.5em;
}
form {
    text-align: center;
    background-color: rgb(233, 240, 216);
}

section {
    position: relative; 
}

.vh-40 {
    height: 40vh; 
}

.vh-10 {
    height: 10vh; 
}

.above {
    z-index: 1; 
}

.fixed {
    position: fixed; 
}

.left{
    float: left;
}

.ta-c {
    text-align: center;
} 

.relative {
    width: 100%;
    position: relative; 
    height: 80vh; 
    top: 10vh;
}

.absolute {
    height: 100%;
    position: absolute; 
    width: 100%; 
}

.sidenav{
    background: #fafafa;
    padding-top: 2em;
}

.material-icons{
    color: white;
    vertical-align: middle;
}
